<form action="/phrase_parser">
  <div class="form-group">
     <label for="title"></label>
     <input id="phrase1" name="phrase" class="form-control" type="text">
     <label for="title"></label>
     <input id="phrase2" name="phrase" class="form-control" type="text">
  </div>
  <hr>
  <button action="/" class="btn btn-success">what am i?</button>
</form>