<!DOCTYPE html>
<html>
  <head>
    <title>oh my word!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
  </head>
  <body>
    <div class="container">
    <h1>palindrome, anagram, antigram, oh my!</h1>
    <hr>
      <%= yield %>
    </div>
  </body>
</html>