<h2><%= @anagram_message %></h2>
<h2><%= @antigram_message %></h2>
<h2><%= @phrase1_palindrome_message %></h2>
<h2><%= @phrase2_palindrome_message %></h2>


<hr>

<a href="/" class="btn btn-danger">reset</a>